<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Login Page</title>
<link rel="stylesheet" th:href="@{/css/master.css}">
<style>
body {
	background-color: rgb(192, 192, 192);
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden; /* Prevent scrolling */
}

a {
	text-decoration: none;
}
</style>
</head>

<body>
	<h2>Login Page Application</h2>

	<!--Bootstrap Form-->
	<div class="card shadow" style="width: 24rem; padding: 1.5rem;">
		<h3 class="card-title text-center mb-4">Login</h3>
		<form action="/login" method="post">

			<!--Error Message 1-->
			<div th:if="${errorMessage}" class="message">
				<p style="color: red;"
					th:utext="'<span>' + ${errorMessage} + '</span> <a href=\'/registerPage\'>Please register</a>'"></p>
			</div>

			<!--Error Message 1-->
			<div th:if="${errorMsg}" class="message">
				<p style="color: red;" th:utext="${errorMsg}"></p>
			</div>

			<!--Success Message-->
			<div th:if="${successMessage}" class="message">
				<p style="color: green;" th:text="${successMessage}"></p>
			</div>

			<div class="form-group mb-3">
				<label for="exampleInputEmail1" class="mb-1">Email</label> <input
					type="email" name="email" class="form-control"
					id="exampleInputEmail1" aria-describedby="emailHelp"
					placeholder="Enter email" required />
			</div>
			<div class="form-group mb-3">
				<label for="exampleInputPassword1" class="mb-1">Password</label> <input
					type="password" name="password" class="form-control"
					id="exampleInputPassword1" placeholder="Enter Password" required />
			</div>
			<div class="btn-container">
				<button type="submit" class="btn btn-primary">Login</button>
			</div>
		</form>
	</div>

</body>


</html>