<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Show User Info</title>
<link rel="stylesheet" th:href="@{/css/master.css}">
<style>
/* Body Styling */
body {
	background-color: rgb(192, 192, 192);
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

a {
	color: white;
	text-decoration: none;
}

.btn-width {
	width: 100%;
}
</style>
</head>

<body>
	<h3 style="text-align: center;" class="mb-3 mt-2">User Details</h3>
	<table class="table table-striped" style="width: 50%;">
		<tr>
			<th scope="row">First Name</th>
			<td th:text="${userInfo?.firstName ?: 'N/A'}"></td>
		</tr>
		<tr>
			<th scope="row">Last Name</th>
			<td th:text="${userInfo?.lastName ?: 'N/A'}"></td>
		</tr>
		<tr>
			<th scope="row">Email</th>
			<td th:text="${userInfo?.userCredential?.email ?: 'N/A'}"></td>
		</tr>
		<tr>
			<th scope="row">Mobile Number</th>
			<td th:text="${userInfo?.mobileNumber ?: 'N/A'}"></td>
		</tr>
	</table>
	<div class="btn-container mt-3">
		<button type="button" class="btn btn-primary btn-width">
			<a th:href="@{/logout}">Logout</a>
		</button>
	</div>
</body>

</html>